{% extends "layout.html" %} 

{% block title %}About{% endblock %}

{% block style %} 


{% endblock %}

{% block body %}

<h2>Spruce Up

Spruce Up is a non-for-profit organization that takes a step towards “zero waste” by integrating the aspects of citizen inclusivity, citizen awareness, and technology together</h2>
<h2> Mission Statement <h2>
	Our main goal is to contribute to local eco-economic development over long-term by helping increase the amount of recycle waste being collected in the neighborhoods. 

<h2> Motivation <h2>
	Waste produced by citizens is a critical source for greenhouse gasses (GHG). Increasing urban population increases the amount of resources consumed leading to increase in the amount of waste produced. Henceforth, it is necessary for the cities and its residents to increase the recycling rates to improve the living environment, minimize climate impacts, minimize waste disposal costs, and work towards “zero waste” goal.

<h2> Partners <h2>
	Spruce Up will partner with the University of Pittsburgh’s CEC (Community Engagement Center), City of Pittsburgh, and Community Developers. At present we are planning to work with the residential neighborhoods of Hill District, South Oakland, and Homewood. These neighborhoods include a diversity of residents regardless of their age, race, gender, and ethnicity.

	<ul style="list-style: none;">
		<li> Hill District: Hill Community Development Corp <li>
		<li> South Oakland: Oakland Planning and Development Center <li>
		<li> Homewood: Homewood Community Development Collaborative <li>
	<ul>		

	In the future this process could be integrated with the City of Pittsburgh's Zero Waste by 2030 efforts. 

{% endblock %}