{% extends "layout.html" %} 

{% block title %}About{% endblock %}

{% block style %} 


{% endblock %}

{% block body %}
<body>

	<main>
      
    <div class = "box1">
            <p>OUR STORY</p><br><br>
            <p1>Clean City is a non-for-profit organization that takes a step towards “zero waste” by integrating the aspects of citizen inclusivity, citizen awareness, and technology together

        </p1>     
        </div>
     
    <div class = "box4">
        <p>OUR MOTIVATION</p><br><br>
        <p1>Waste produced by citizens is a critical source for greenhouse gasses (GHG). Increasing urban population increases the amount of resources consumed leading to increase in the amount of waste produced. Henceforth, it is necessary for the cities and its residents to increase the recycling rates to improve the living environment, minimize climate impacts, minimize waste disposal costs, and work towards “zero waste” goal.
            
        </p1>  
        <br><br><br><br>
        <img src="/static/landfillagain.png" alt="logo" style="margin:0px -40px"> 
        <p>Citation:
            <br>
             EPA. (2021, July 14). National Overview: Facts and Figures on Materials, Wastes and Recycling . United States EPA. Retrieved from https://www.epa.gov/facts-and-figures-about-materials-waste-and-recycling/national-overview-facts-and-figures-materials#R&amp;Ctrends</p>   

    </div>    

    <div class = "box1">
            <p>OUR MISSION</p><br><br>
            <p1>Our main goal is to contribute to local eco-economic development over long-term by helping increase the amount of recycle waste being collected in the neighborhoods. 
            </p1>           
        </div>
        
    
	
	<div class = "box2">
            <p>OUR PARTNERS</p><br><br>
            <p1>Clean City will partner with the University of Pittsburgh’s CEC (Community Engagement Center), City of Pittsburgh, and Community Developers. At present we are planning to work with the residential neighborhoods of Hill District, South Oakland, and Homewood. These neighborhoods include a diversity of residents regardless of their age, race, gender, and ethnicity.
                <div class = "aboutlist">
				<ul style="list-style: none;">
					<li> Hill District: Hill Community Development Corp <li>
					<li> South Oakland: Oakland Planning and Development Center <li>
					<li> Homewood: Homewood Community Development Collaborative <li>
				<ul>
                </div>    		
			
				<br>In the future this process could be integrated with the City of Pittsburgh's Zero Waste by 2030 efforts. 
                
        
            </p1>  
    </div>
     

     </main>
        
</body>

{% endblock %}