
{% extends "layout.html" %} 

{% block title %}Cleaning Events{% endblock %}

{% block style %}



{% endblock %}

{% block body %}


<main>      
    <div class = "box5">
        <p>Follow us on social media!</p>
        
            
    </div>
    <div class = "box5">
        <p>Follow us on social media!</p>
        
            
    </div>
    <div class = "box5">
        <p>Follow us on social media!</p>
        
            
    </div>
    <div class = "box5">
        <p>Follow us on social media!</p>
        
            
    </div>
    <div class = "box5">
        <p>Follow us on social media!</p>
        
    </div>
    <div class = "box5">
        <p>Follow us on social media!</p>
        
    </div>
</main>    

{% endblock %}