<!DOCTYPE html>
<html>
<head>
</div>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Load an icon library to show a hamburger menu (bars) on small screens -->

<link rel="stylesheet" href="mystyle.css">
<title>City Clean</title>
 
<style>
    html {  
        background:url(images/kidsrecycling.jpeg) no-repeat center center fixed;
        background-size: cover;       
    }
    
</style>  
    
</head>
<body>
    
    <header>
    <div class="topnav" id="myTopnav">
        <a href="#account">CREATE AN ACCOUNT/LOG IN</a>
        <a href="#maps">MAPS</a>
        <a href="contact.html">CONTACT</a>
        <a href="about.html">ABOUT</a>
        <a href="home.html" class="active">HOME</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
        </a>
    </div>

     <button id="hamburger-button">
                <div></div>
                <div></div>
                <div></div>
    </button>    
            
    <div style="padding-left:16px"></div>
    </header>
    
    <main>
        <div class="midnav" id = "myMidnav">
        <a href="menu.html">VIEW FULL MENU</a>
        <a href="#online">ORDER ONLINE NOW</a>
        </div>    
    </main>
        
<script src="mytopnav.js"></script>
</body>

</html>
<footer>
    <p>© 2020 Cahaya</p>
</footer>