

{% extends "layout.html" %} 

{% block title %}Home{% endblock %}

{% block style %}

{% endblock %}


{% block body %} 

<main>
    <body>
        <br><br><br><br>
        <img src="/static/cleancity.jpg" alt="logo" style="margin:0px -40px"> 

        <div class = "box6">

            <p style=font-size:30px; >Log In</p>
            
            <form action = "mailto:arr122@pitt.edu?subject=CS0134 Restaurant Cahaya"
              method = "post" enctype="text/plain">
                
            <label for="from">Username:</label><br><br>       
            <input type="email" id = "from" name="from" maxlength="32"><br><br> 
            
            <label for="from">Password:</label><br><br>       
            <input type="email" id = "from" name="from" maxlength="32"><br><br>   

            <button type="submit">Submit</button>    
                 
            </form> 
            

        </div>
    </body>
</main>
{% endblock %}
