
{% extends "layout.html" %} 

{% block title %}Bhamini's Cleaning{% endblock %}

{% block style %} 
<style>
    .totalPoints{
        padding: 5px;
        border: 2px;
        border-color: #246d1e;
        background-color: rgba(255, 217, 0, 0.338);
        width: fit-content;
        display: inline-table;
        
    }
    .submissionsHistory{
       display: inherit;
    }

    .submissionTable{
        display: inline;
        font-size: medium;
    }

    #tableHeaders{
        font-weight: bold;
        color: mediumpurple;
    }

    td{
        border: 1px solid black;
    }

</style>

{% endblock %}

{% block body %}

<h1>Bhamini's Cleaning</h1>
<h3>Location: South Oakland </h3>

<form class="indivCleanInfo">

    <div class="totalPoints"><h2>Total Points: 300 </h2></div>


    <div class="submissionsHistory">
        <h2>All of your submissions:</h2>
        <table class="submissionTable" style="padding: 2px;">
        <tbody style="
        background: beige;
        border-block-color: inherit;
        font-size: larger;
    ">
        <tr id="tableHeaders">
        <td>DATE</td>
        <td>TYPE</td>
        <td>WEIGHT</td>
        <td>POINTS</td>
       
        </tr>
        <tr>
        <td>12/21/2021</td>
        <td>TRASH</td>
        <td>5 lbs</td>
        <td>100 pts</td>
        
        </tr>
        <tr>
        <td>12/14/2021</td>
        <td>TRASH</td>
        <td>5 lbs</td>
        <td>100 pts</td>
        
        </tr>
        <tr>
        <td>11/17/2021</td>
        <td>RECYCLING</td>
        <td>2 lbs</td>
        <td>40 pts</td>
       
        </tr>
        <tr>
        <td>11/19/2021</td>
        <td>RECYCLING</td>
        <td>3 lbs</td>
        <td>60 pts</td>
        </tr>
        </tbody>
        </table>
    </div>

</form>


{% endblock %}