
{% extends "layout.html" %} 

{% block title %}Individual cleaning{% endblock %}

{% block style %} 


{% endblock %}

{% block body %}

<h1>Individual cleaning</h1>

<button class="login">Login</button>

<form class="indivCleanInfo">

    <div class="totalPoints"><h2>Total Points: 100 </h2></div>
 
    <h2>All of your submissions:</h2>
    <ul>
        <li>date - trash/recycling - weight - points_earned - location_submitted</li>
        <li>date - trash/recycling - weight - points_earned - location_submitted</li>
        <li>date - trash/recycling - weight - points_earned - location_submitted</li>
        <li>date - trash/recycling - weight - points_earned - location_submitted</li>
    </ul>

</form>


{% endblock %}