

{% extends "layout.html" %} 

{% block title %}Home{% endblock %}

{% block style %} 
<style>
ul.topNeighClass{
  background-color: #93dfff;
  padding: 10px;
  text-align: center;
  list-style: none;
}

li.topNeighClass{
  background: #fffb93;
  margin: 5px;
}

div.topNeighClass{
  width: fit-content;
  height: fit-content;
  display: inline-block;

}




</style>
{% endblock %}

<h1>Cleanest Neighborhoods</h1>

{% block body %}

  
  
  <br>

  <div class = "topNeighClass">
    <h2>Cleanest Neighborhoods - January</h2>
    <ul class = "topNeighClass">
      {% for n in topNeighList %}
        <li class = "topNeighClass"> {{ n }} </li>
      {% endfor %}
    </ul>
  </div>
<br>

  MAP

{% endblock %}