{% extends "layout.html" %} 

{% block title %}Prizes{% endblock %}

{% block style %} {% endblock %}

{% block body %}

  <h1>Prizes</h1>

list of individual and neighborhood prizes
 <div class="row">
    <div class="column">
        <h2>Individual Prizes</h2>
        <h3>
        Every six months, the top three cleaners will be able to chose from the prizes below!
        </h3>
        <ul>
            <li>Free ticket to one of the Carnegie Museums</li>
            <li>$10 gift card to a local restaurant of your choosing</li>
            <li>A 7-day Full Fare Bus Pass</li>
        </ul>
    </div>
    <div class="column">
        <h2>Neighborhood Prizes</h2>
        <h3>
         Every six months, one of our surveyors will survey each neighborhood and determine which improved the most or maintained the cleanliness the best. Those who participated in neighborhood cleanup will be treeted to a sponsored community movie night as well as free ice cream and coffee!
        </h3>
        <ul>
            <li>City-sponsored movie night!</li>
            <li>Free ice cream!</li>
            <li>Free coffee!</li>
        </ul>
    </div>

  MAP

{% endblock %}




